.container {
  height: 100%;
  width: 100%;
}

body {
    background-color: #e0f5f5;
}

.aboutus-card{
    width: 50rem;
    box-shadow: 5px 10px #bebebe;
}

.title{
    position: relative;
    font-size: 2rem;
}

.text{
    font-size: 1.5rem;
}

.card-body{
    background: linear-gradient(
      90deg,
      rgb(196, 225, 250) 0%,
      rgb(114, 179, 236) 100%
    );
}

.form-container {
    background-color: aqua;
}