.create-post-container {
  margin: 100px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.create-post-form {
  background: linear-gradient(
    90deg,
    rgb(111, 141, 169) 0%,
    rgb(40, 92, 142) 100%
  );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: aliceblue;
}

.post-container {
  margin-bottom: 0.5rem;
  width: 80%;
}

.post-inputs {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 6px;
  height: 120px;
  width: 100%;
  border: none;
}

.photo-url {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 6px;
  height: 50px;
  width: 100%;
  border: none;
}

.post-submit-btn {
  width: 20%;
  height: 50px;
  margin-top: 13px;
  border-radius: 6px;
  background: linear-gradient(
    90deg,
    rgb(244, 206, 113) 0%,
    rgb(249, 220, 125) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.3rem;
  padding: 6px;
}

.post-title {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 6px;
  height: 50px;
  width: 100%;
  border: none;
}
