.cmt-author {
    color: rgb(41, 84, 136);
    font-size: 1.3rem;
}

.cmt-contents {
    color: rgb(2, 12, 24);
    font-size: 1.3rem;
}

.cmt-date {
    color: rgb(112, 113, 114);
    font-size: 1rem;
}