.post-card {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
}

.card-body {
  background: linear-gradient( 90deg, rgb(196, 225, 250) 0%,
   rgb(232, 247, 201) 100% );
}


.cmt-text-box {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 50px;
  width: 60%;
  border: none;
  border-radius: 0.3rem;
}

.cmt-text-box::placeholder {
  color: #595959;
  font-size: 12px;
}

.cmt-btn {
  width: 20%;
  height: 30px;
  margin-top: 10px;
  border-radius: 2px;
  background: rgb(71, 101, 167);
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.card-username{
  font-size: 1.2rem;
}

.card-title {
  font-size: 1.8rem;
  
}

.card-contents {
  font-size: 1.2rem;
}

.img-part {
  margin-bottom: 0.2rem;
}

.post-img {
  height: 50%;
  width: 60%;
}

.cmt-submit-box {
  margin-top: 1rem;
}


.date-p {
  color: #595959;
  font-size: 1rem;
  justify-self: end;
}

.btn-manageposts {
 margin-left: 90%;
 margin-top: 1rem;
 margin-bottom: 2rem;
 color: #fff;
 background: rgb(175, 162, 238);
 align-items: center;
 border-radius: 0.3rem;
 border: none;
 height: 30px;
 width: 150px;
}
