.form-container {
  margin: 100px auto;
  width: 1500px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 950px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.5rem;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}

.form-content-left {
  background: linear-gradient(
    90deg,
    rgb(82, 94, 105) 0%,
    rgb(82, 94, 105) 100%
  );
  border-radius: 10px 0 0 10px;
  position: relative;
}

.form-profile-content-left {
  background:rgb(237, 194, 126) ;
  border-radius: 10px 0 0 10px;
  position: relative;
}

.form-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-img-2 {
  /* width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  background-image: url(/img/img-2.jpg);
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

.form-content-right {
  border-radius: 0 10px 10px 0;
  position: relative;
  background: linear-gradient(
    90deg,
    rgb(82, 94, 105) 0%,
    rgb(82, 94, 105) 100%
  );
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-size: 1.5rem;
  text-align: center;
  width: 80%;
  margin-bottom: 1rem;
  color: #fff;
}

.form-inputs {
  margin-bottom: 0.1rem;
  width: 80%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.1rem;
  margin-bottom: 0.05rem;
  color: #f00e0e;
}

.form-label {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 2.5px;
  color: #fff;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  border: none;
}

.news-content-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 90px;
  width: 100%;
  border: none;
}

.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.news-content-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.select-option-category {
  height: 50px;
  width: 50%;
  color: rgb(108, 110, 111);
}

.form-input-btn {
  width: 60%;
  height: 50px;
  margin-top: 10px;
  border-radius: 6px;
  background: linear-gradient(
    90deg,
    rgb(164, 206, 243) 0%,
    rgb(81, 156, 221) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(136, 187, 242) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

.form-back-btn {
  width: 60%;
  height: 42px;
  margin-top: 10px;
  border-radius: 6px;
  background: #f2cb69;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 6px;
}

.table-back-btn {
  width: 200px;
  height: 40px;
  margin-top: 10px;
  margin-left: 45%;
  border-radius: 6px;
  background: #ebc054;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 6px;
}

.form-back-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(235, 198, 158) 0%,
    rgb(230, 156, 46) 100%
  );
  transition: all 0.4s ease-out;
}

.admin-section-btn {
  width: 80%;
  height: 50px;
  margin-top: 15px;
  border-radius: 3px;
  background: linear-gradient(
    90deg,
    rgb(164, 206, 243) 0%,
    rgb(81, 156, 221) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
}

.form-input-login {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #fff;
  width: 80%;
  text-align: center;
}

.form-input-login a {
  text-decoration: none;
  color: #27cdff;
  font-weight: 600;
}

.form-input-forgetpw {
  color: rgb(238, 243, 247);
}

.code-display {
  color: #fff;
  padding: 1rem;
}

.error-display {
  color: rgb(238, 68, 68);
  padding: 1rem;
  font-size: 1.5rem;
}

.edit-btn {
  width: 70px;
  height: 40px;
  margin-top: 13px;
  border-radius: 6px;
  background:rgb(103, 149, 216) ;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 6px;
}

.save-btn {
  width: 70px;
  height: 40px;
  margin-top: 13px;
  border-radius: 6px;
  background:rgb(244, 138, 184);
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 6px;
}
.btn-group {
  justify-content: space-between;
}

.profile-container {
  margin: 100px auto;
  width: 1600px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.avatar-img {
  height: 100px;
  width: 120px
}

.form h1 {
  font-size: 2rem;
}

.form p {
  color: aliceblue;
  font-size: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.error-display {
  font-size: 2px;
  color: #9a0404;
  margin-bottom: 0px;
  margin-top: 0px;
}